@media only screen and (max-width : 368px){/*от 375 и ниже*/
    html{
        font-size: 8px;
    }
    body{
       font-size: 12px;
    }
    .main{
        width: 291px;
        height: 390px ;
    }
    #win-block{
        width: 209px;
        height: 366.5px;
    }
    .giphy{
        width: 257px;
        height: 120px;
    }
}
