@media only screen and (max-width : 368px){/*от 375 и ниже*/
    html{
        font-size: 8px;
    }
    body{
       font-size: 12px;
    }
    .main{
        width: 292px;
        height: 390px ;
    }
    #block{
        padding-left: 0.4rem;
    }
    .sell{
          width: 62px;
          height: 62px;
          margin: 3.1px ;
      }
    #win-block{
        width: 209px;
        height: 366.5px;
    }


    .giphy{
        width: 257px;
        height: 120px;
    }
}
@media screen and (orientation:landscape) and (max-device-width: 900px) {
    html{
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        width: 320px; /*Разрешение экрана iPhone*/
        position: absolute;
        top: 100%;
        left: 0
    }
}